//////////////////////////
// typo
//////////////////////////

// font-family
$font_text: Helvetica, Arial, sans-serif;
$font_headline: Helvetica, Arial, sans-serif;

// font-size
$fs_nano:   1.2rem;
$fs_tiny:   1.4rem;
$fs_small:  1.6rem;
$fs_base:   1.8rem;
$fs_hero:   7.2rem;

//line-height
$lh_line:       1;
$lh_tiny:       1.2;
$lh_small:      1.4;
$lh_base:       1.5;