//////////////////////////
// colors
//////////////////////////

// theme
$color_fond:    #fff;
$color_line:    #C5C5C4;
$color_warn:    #BE331C; // red
$color_brand:   #76a31e; // green

// typo
$color_text:    #000;
$color_dimmed:  #333;
$color_mute:    #8A8A8A;
$color_link:    $color_brand;

//forms
$color_placeholder: #999;

// other brand colors
$color_facebook:  #3b5998;
$color_google:    #dd4b39;
$color_youtube:   #e52d27;
$color_twitter:   #55acee;
$color_youtube:   #c4302b;
$color_tumblr:    #34526f;
$color_pinterest: #c8232c;
$color_whatsapp:  #43d854;
$color_instagram: #3f729b;
