//////////////////////////
// typo
//////////////////////////

// font-family
$text_font_stack: 'Source Sans Pro', Helvetica, Arial, sans-serif;

// font-size
$fs_nano:   1.2rem;
$fs_tiny:   1.4rem;
$fs_small:  1.6rem;
$fs_base:   1.8rem;
$fs_medium: 2.0rem;
$fs_large:  2.4rem;
$fs_huge:   2.8rem;
$fs_mega:   3.2rem;
$fs_giga:   6.0rem;
$fs_hero:   7.2rem;

//line-height
$lh_line:       1;
$lh_tiny:       1.2;
$lh_small:      1.4;
$lh_base:       1.5;