// a wrapper for responsive embeded objects with a fixed aspect ratio
//
%r-embed {
  position: relative;
  height: 0;
}

// a wrapper with aspect ratio 16:9
//
%r-embed--16x9 {
  padding-bottom: 56.25%;
}

// a wrapper with aspect ratio 4:3
//
%r-embed--4x3 {
  padding-bottom: 75%;
}

// the object inside the wrapper, e.g. iframe
%r-embed__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}
