.embed {
  &.media-left,
  &.media-right {
    display: inline;
  }
}

.entity-media {
  position: relative;
  margin-top: $sp_tiny;

  &.media-document img {
    display: inline;
    width: auto;
  }

  &.media-content-medium, {
    width: 50%;
  }

  &.media-content-small{
    width: 33%;
  }

  .media-left & {
    float: left;
    margin-right: $sp_large; 
  }

  .media-right & {
    float: right;
    margin-left: $sp_large; 
  }

  img {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  figcaption {
    font-size: $fs_small;
    line-height: $lh_small;
    color: $color_mute;
    margin: $sp_tiny 0 0 0;
  }

  .media-image__img {
    position: relative;
  }

  .copyright {
    position: absolute;
    right: $sp_tiny;
    bottom: $sp_tiny;
  }
}