//////////////////////////
// Clear inner floats
// ---
%clearfix {
  @include clearfix;
}

//////////////////////////
// Hide element while making it readable for screen readers
// ---
%visuallyhidden {
  @include visuallyhidden;
}
%visuallyhidden-focusable {
  @include visuallyhidden(true);
}

//////////////////////////
// Hide element from both screenreaders and browsers
// ---
%hidden,
[hidden] {
  @include hidden;
}

//////////////////////////
// Make element invisible while maintaining layout
// ---
%invisible {
  @include invisible;
}

//////////////////////////
// Hide text in element
// ---
%hidden-text {
  @include hidden-text;
}

//////////////////////////
// Hide text for image replacement with background-image
// ---
%image-replaced {
  @include image-replaced;
}

//////////////////////////
// Create visible pseudo elements
// ---
%pseudo-inline-block {
  @include pseudo-inline-block;
}

%pseudo-block {
  @include pseudo-block;
}

//////////////////////////
// Stretch element to fill relative parent
// ---
%stretch {
  @include stretch;
}

//////////////////////////
// Add proper kerning and ligatures
// Use sparingly, cost-intensive!
// ---
%kern {
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
     -moz-font-feature-settings: 'kern=1';
  -webkit-font-feature-settings: 'kern';
     -moz-font-feature-settings: 'kern';
          font-feature-settings: 'kern';
  font-kerning: normal;
}
