.messages {
  background: #fff;
  padding: $sp_small $sp_base;
  margin: 0 0 $sp_small 0;

  &.messages--warning {
    background: $color_warn;
    color: #fff;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}