%button {
  @extend %box-shadow;
  font-weight: 600;
  line-height: $lh_small;
  display: inline-block;
  padding: $sp_nano $sp_small;
  cursor: pointer;
  transition: all $s_blink;
  white-space: nowrap;
  color: $color_fond;
  border: 0;
  border-radius: $border_small;
  background-color: $color_link;
  fill: $color_link;
  appearance: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
