//////////////////////////
// Helpers + extendable classes
//////////////////////////

// hide text for image replacement with background-image
%ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

%pseudo-inline-block {
  content: '';
  display: inline-block;
}

// Hide from both screenreaders and browsers
%hidden,
.hidden,
[hidden] {
  @include hidden;
}

// Hide only visually, but have it available for screenreaders
%visuallyhidden,
.visuallyhidden {
  @include visuallyhidden;

  // Extends the .visuallyhidden class to allow the element to be focusable
  // when navigated to via the keyboard
  &.focusable {
    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

// Hide visually and from screenreaders, but maintain layout
%invisible,
.invisible {
  @include invisible;
}

// Clearfix

%clearfix,
.clearfix {
  @include clearfix;
}

// stretch to dimensions of parent
%stretch {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// kerning and ligatures (use sparingly, cost-intensive!)
%kern {
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "kern=1";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
}
