//////////////////////////
// Placeholder
//////////////////////////
::-webkit-input-placeholder {
  color: $color_placeholder;
}
:-moz-placeholder {
  color: $color_placeholder;
  opacity: 1;
}
::-moz-placeholder {
  color: $color_placeholder;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $color_placeholder;
}
.placeholder {
  color: $color_placeholder;
}


//////////////////////////
// Input elements
//////////////////////////
input, select, textarea {
  border: 0;
  padding: $sp_tiny;
  border-radius: $border_tiny;
  line-height: $lh_small;
  background-color: $color_fond;

  &:focus {
    box-shadow: 0 1px 3px rgba(#000,.25);
    outline: 0;
  }
}

input, select {
  height: $sp_large;

  @include breakpoint($br_large) {
    height: $sp_huge;
  }
}

input[type="checkbox"], input[type="radio"], input[type="range"] {
  padding: 0;
  margin: 0;
  line-height: normal;
  height: auto;
}

// remove ff button padding
::-moz-focus-inner {
  border: 0;
  padding: 0;
}


//////////////////////////
// Select
//////////////////////////
select {
  // remove default styling in webkit & ff
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  
  // hide ff select arrow
  text-indent: .01px;
  text-overflow: '';


  // add arrow img
  padding-right: $sp_huge;
  background: $color_fond url('../img/svg/arrow-down--dark.svg') no-repeat right center;
}

// remove IE10 select arrow
select::-ms-expand {
  display: none;
}


//////////////////////////
// Labels
//////////////////////////
label {
  &[for] {
    cursor: pointer;
  }
}

//////////////////////////
// Browser validation
//////////////////////////
input:invalid,
textarea:invalid {

}
