//////////////////////////
// viewport
//////////////////////////
html {
	min-height: 100%;
}

//////////////////////////
// box model
//////////////////////////
*, *:before, *:after {
	box-sizing: border-box;
}

//////////////////////////
// prevent animations from running on first page load
/////////////////////////
.preload * {
  transition: none !important;
}

//////////////////////////
// browsehappy
/////////////////////////
.browsehappy {
	position: relative;
	z-index: 20000;
	padding: 20px;
	margin: 0;
	text-align: center;
	background: red;
	color: #fff;
	a {
		color: #fff;
		font-weight: 700;
		text-decoration: underline;
	}
}

//////////////////////////
// Vertical centering multiline
//////////////////////////
.vc-wrap {
	width: 100%;
	height: 100%;
	display: table;
}
.vc {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

//////////////////////////
// Navigational lists
//////////////////////////
nav {
	ul, ol, li {
		list-style: none;
		margin: 0;
		padding: 0;
	} 
}

//////////////////////////
// no break
//////////////////////////
.nobr {
	white-space: nowrap;
}
