//////////////////////////
// colors
//////////////////////////

//schema

// typo
$color_text: #262626;
$color_mute: #B3B3B3;
$color_link: #E5B949;

// theme
$color_fond: #fff;
$color_line: #eee;
$color_brand: #A18750;

//forms
$color_placeholder: $color_mute;

// other brand colors
$color_facebook:  #3b5998;
$color_google:    #dd4b39;
$color_youtube:   #e52d27;
$color_twitter:   #55acee;
$color_youtube:   #c4302b;
$color_tumblr:    #34526f;
$color_pinterest: #c8232c;


//////////////////////////
// breakpoints
//////////////////////////

$br_mobile:       320px;
$br_phablet:      540px;
$br_tablet:       780px;
$br_desktop:      980px;
$br_wide:         1280px;
$br_huge:         1560px;

$br_max-mobile:   max-width ($br_phablet - 1);
$br_max-phablet:  max-width ($br_tablet - 1);
$br_max-tablet:   max-width ($br_desktop - 1);
$br_max-desktop:  max-width ($br_wide - 1);
$br_max-wide:     max-width ($br_huge - 1);

$br_2x: min-resolution 1.5dppx;
$br_3x: min-resolution 2.5dppx;

$br_small: $br_max-mobile;
$br_large: $br_phablet;


//////////////////////////
// dimensions
//////////////////////////

$logo-ratio: 4.22222222;

//layout
$w_min:     $br_mobile;
$w_text:    80rem;
$w_max:     128rem;

// space
$sp_nano:   0.3rem;
$sp_tiny:   0.6rem;
$sp_small:  1.2rem;
$sp_base:   1.8rem;
$sp_medium: 2.4rem;
$sp_large:  3.0rem;
$sp_huge:   3.6rem;
$sp_mega:   4.8rem;
$sp_giga:   6.0rem;

// border (radius)
$border_nano:   0.1rem;
$border_tiny:   0.2rem;
$border_small:  0.3rem;
$border_base:   0.6rem;


//////////////////////////
// animation speed
//////////////////////////
$s_blink:     .1s;
$s_fast:      .25s;
$s_normal:    .5s;
$s_slow:      .75s;
$s_tortoise:   1.5s;
$s_slug:       3s;

//////////////////////////
// typo
//////////////////////////

// font-family
$serif:  Merriweather, Georgia, serif;
$sans_serif:  Titillium, Helvetica, Arial, sans-serif;
$text_font_stack: $serif;

// font-size
$fs_nano:   1.2rem;
$fs_tiny:   1.4rem;
$fs_small:  1.6rem;
$fs_base:   1.8rem;
$fs_medium: 2.0rem;
$fs_large:  2.4rem;
$fs_huge:   2.8rem;
$fs_mega:   3.2rem;
$fs_giga:   6.0rem;
$fs_hero:   7.2rem;

//line-height
$lh_line:       1;
$lh_tiny:       1.2;
$lh_small:      1.4;
$lh_base:       1.66666;


//////////////////////////
// Settings
//////////////////////////
$nav_global--off-canvas--width: 25rem;
$nav_global--off-canvas--speed: .3s;
$nav_global--off-canvas--timing-function: ease;


//////////////////////////
// SUSY
//////////////////////////

$susy: (
  math: fluid,
  output: float,
  gutter-position: inside-static,
  container: $w_max,
  container-position: center,
  columns: 12,
  column-width: $sp_small,
  gutters: 2,
  global-box-sizing: border-box,
  last-flow: to
);
