
//////////////////////////
// Input elements
//////////////////////////
input,
select,
textarea {
}

input,
select {
}

input[type='checkbox'],
input[type='radio'],
input[type='range'],
input[type='file'] {
  line-height: normal;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

// remove ff button padding
::-moz-focus-inner {
  padding: 0;
  border: 0;
}


//////////////////////////
// Select
//////////////////////////
select {
}


//////////////////////////
// Labels
//////////////////////////
label {
  &[for] {
    cursor: pointer;
  }
}

//////////////////////////
// Browser validation
//////////////////////////
input:invalid,
textarea:invalid {
}

//////////////////////////
// Button
//////////////////////////
input[type='submit'] {
}
