//////////////////////////
// selection
//////////////////////////
::-moz-selection {
  color: #fff;
  background: $color_brand;
}
::selection {
  color: #fff;
  background: $color_brand;
}

//////////////////////////
// placeholder
//////////////////////////
::-webkit-input-placeholder {
  color: $color_placeholder;
}
:-moz-placeholder {
  opacity: 1;
  color: $color_placeholder;
}
::-moz-placeholder {
  opacity: 1;
  color: $color_placeholder;
}
:-ms-input-placeholder {
  color: $color_placeholder;
}
.placeholder {
  color: $color_placeholder;
}
