$dc-minheight: 100vh;
$dc-minheight-fallback: 40rem;

.doc-page {
  position: relative;
  padding-top: 7.2rem;
  overflow: hidden;
  min-height: $dc-minheight-fallback;
  min-height: $dc-minheight;

  &::before {
    @include pseudo-block;
    @include absolute(top 0 right 0 left 0);
    height: $dc-minheight-fallback;
    height: $dc-minheight;
    min-height: 150px;
    background-image: linear-gradient(180deg, rgba(#000,.5) 0%,rgba(#000,0) 50%), url('../img/bg-green.jpg');
    background-size: cover;
    background-position: center;
    z-index: -3;
  }

  &::after {
    @include pseudo-block;
    @include absolute(top $dc-minheight-fallback right 0 left 0);
    top: $dc-minheight;
    margin-top: -100px; 
    height: 100px;
    z-index: -2;
    background: transparent url('../img/bottom-border.png') repeat-x center bottom;
    @include breakpoint($br_2x) {
      background: transparent url('../img/bottom-border@2x.png') repeat-x center bottom / 720px 100px;
    }
  }
}

.doc-page--single {
  .l-doc-body {
    position: relative;

    &::before {
      @include pseudo-block;
      @include absolute(top 0 right $sp_base left $sp_base bottom $sp_giga);
      box-shadow: 0 0 20px rgba(#000,.25);
      z-index: -1;
    }
  }

  .doc-page__wrapper {
    position: relative;
    z-index: 1;
    min-height: $dc-minheight-fallback;
    min-height: $dc-minheight;
  }
}