.partners {

}

.partners__heading {
  color: $color_mute;
  font-size: $fs_tiny;
  text-align: center;
  margin: 0 0 $sp_small 0;
}

.partners__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__item {
  margin: 0 $sp_tiny;

  @include breakpoint($br_phablet) {
    margin: 0 $sp_small;
  }

  @include breakpoint($br_tablet) {
    margin: 0 $sp_base;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.partners__logo {
  width: 100%;
}