.doc-flag {

  .doc-content__heading {

    h1 {
      font-size: $fs_mega;
      @include breakpoint($br_tablet) {
        font-size: 4.8rem;
      }
    }
  }

  .doc-content__heading-inner {
    @include breakpoint($br_tablet) {
      max-width: 100%;
    }
  }
}