.doc-flags__header {
  margin: 0 0 $sp_base 0;

  h1 {
    @extend %hilite;
    line-height: $lh_small;
    font-size: $fs_large;

    @include breakpoint($br_tablet) {
      font-size: $fs_mega;
    }
  }
}

.doc-flags__list {
  margin: 0 -$sp_tiny;
  
  @include breakpoint($br_desktop) {
    margin: 0 -$sp_small;
  }
}

.doc-flags-item {
  @include breakpoint($br_phablet) {
    width: 50%;
  }
  @include breakpoint($br_desktop) {
    width: 33%;
  }
}

.doc-flags-item__inner {
  margin: $sp_tiny;
  
  @include breakpoint($br_desktop) {
    margin: $sp_small;
  }
}

.doc-flags-item__link {
  display: block;
  position: relative;
  transition: transform $s_slow ease-out;
  z-index: 1;
  background: $color_fond;
  box-shadow: 0 1px 3px rgba(#000,.15);

  &:hover {
    text-decoration: none;

    @include breakpoint($br_phablet) {
      transition: transform $s_blink ease-in;
      transform: scale(1.05);
      z-index: 2;
    }
  }
}

.doc-flags-item__content {
  @include absolute(bottom 0 right 0 left 0);
  padding: $sp_small $sp_base;
  line-height: $lh_small;
}

.doc-flags-item__title h2 {
  @extend %hilite;
  transition: all $s_fast ease;

  a:hover & {
    @extend %hilite-invert;
  }
}

.doc-flags-item__author {
  font-size: $fs_tiny;
  span {
    @extend %hilite-invert;
    opacity: .6;
  }
}

.doc-flags-item__img {
  img {
    display: block;
    width: 100%;
  }
}