.tabs-primary {
  list-style: none;
  margin: 0;
  padding: $sp_base;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tabs-primary__tab {
  padding: 0 $sp_nano 0 0;

  &:last-child {
    padding: 0;
  }
}

.tabs-primary__tab-link {
  @extend %box-shadow;
  display: inline-block;
  background: $color_link;
  color: $color_fond;
  padding: $sp_tiny $sp_small;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }

  &.active {
    background: $color_text;
  }
}