.nav-footer {
  text-align: center;
  font-size: 0;
}

.nav-footer__item {
  display: inline-block;
  padding: 0 $sp_tiny;
}

.nav-footer__a {
  font-size: $fs_small; 
  color: $color_mute;
  display: block;
}